/* color palette https://colorhunt.co/palette/206929 */

body {
    margin: 0px;
    text-align: center;
    font-family: 'Glegoo', serif;
}

h1 {
    font-family: 'Courgette', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.top-section {
    background-color: #ffd57e;
    position: relative;
    padding-top: 100px;
}

.middle-section {
    background-color: aqua;
    width: 200px;
    height: 200px;
}

.bottom-section {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
    width: 100px;
    height: 65px;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
    width: 100px;
    height: 65px;
}


h1 {
    margin: 50px auto 0 auto;
}

.mountain {
    padding-top: 80px;
}
