/* color palette https://colorhunt.co/palette/206929 */

body {
    margin: 0px;
    text-align: center;
    font-family: "Glegoo", serif;
    color: #3c3c3c;
}

h1 {
    font-family: "Courgette", cursive;
    font-size: 5.6rem;
    margin-top: 70px;
    margin-bottom: 0px;
    color: #ac4b1c;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #ac4b1c;
    font-weight: normal;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: #ac4b1c;
    line-height: 1;;
}

.pretext {
    font-weight: bold;
}

.top-section {
    background-color: #ffd57e;
    position: relative;
    padding-top: 100px;
}

.middle-section {
    background-color: #ffefa0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bottom-section {
    background-color: #fca652;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
    width: 100px;
    height: 65px;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
    width: 100px;
    height: 65px;
}

.mountain {
    padding-top: 80px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.code-img-alt {
    width: 35%;
    float: right;
    margin-left: 30px;
}

.myself-img {
    width: 200px;
    height: 200px;
    background-color: #ac4b1c;
    border-radius: 50%;
}

.footer-link {
    color: #ffefa0;
    text-decoration: none;
}

.footer-link:hover {
    color: #ac4b1c;
    text-decoration: underline;
}

.copyright {
    color: #ffefa0;
    font-size: 0.8rem;
}

hr {
    border-style: dotted;
    border-color: #ffd57e;
    border-width: 5px 0px 0px 0px;
    width: 10%;
}

.intro {
    width: 50%;
    margin: 10px auto;
    line-height: 2;
}

.contact-message {
    width: 50%;
    margin: 20px auto;
    line-height: 2;
}

.btn {
    background: #FFD57E;
    background-image: -webkit-linear-gradient(top, #FFD57E, #FCA652);
    background-image: -moz-linear-gradient(top, #FFD57E, #FCA652);
    background-image: -ms-linear-gradient(top, #FFD57E, #FCA652);
    background-image: -o-linear-gradient(top, #FFD57E, #FCA652);
    background-image: -webkit-gradient(to bottom, #FFD57E, #FCA652);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #AC4B1C 1px;
    background: #FCA652;
    background-image: -webkit-linear-gradient(top, #FCA652, #FFD57E);
    background-image: -moz-linear-gradient(top, #FCA652, #FFD57E);
    background-image: -ms-linear-gradient(top, #FCA652, #FFD57E);
    background-image: -o-linear-gradient(top, #FCA652, #FFD57E);
    background-image: -webkit-gradient(to bottom, #FCA652, #FFD57E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }